body, html {
	background-color: #2375a7;
	color: black;
	font-family: "Roboto";
}

.main {
	margin: 10vw;
	text-align: center;
}

.main h1 {
	font-size: 4em;
}

.inp {
	text-align: center;
	border: 1px solid black;
	font-size: 3em;
	font-family: "Roboto";
	padding: 10px;
	color: black;
	display: block;
}

.inp:focus {
	outline: none;
}

.inp-submit {
	text-align: center;
	background: transparent;
	border: 1px solid black;
	font-size: 3em;
	font-family: "Roboto";
	padding: 10px;
	color: black;
	display: block;
	margin-top: 50px;
}
